body {
	width: 1024px;
	margin: 0 auto;
	font-family: Arial;
	font-size: 24px;
}
div {
	width: 100%;
}

ul {
	list-style-type:disc;
	padding: 0;
}

div.emblem {
	display: flex;
	justify-content: space-between;
	padding: 50px 40px;
}

.emblem h1 {
	margin: 0;
	line-height: 36px;
}
.emblem form input, .emblem form button {
	height: 36px;
	border: 0;
	line-height: 36px;
	display: inline-block;
}

.emblem form button {
	background-color: #7b1212;
	color: white;
	
}
#menu {
	list-style-type: none;
	background-color: #7b1212;
	display: flex;
	margin: 0;
}

#menu li {
	padding: 0;
	line-height: 54px;
	position: relative;

}
#menu li > a {
	text-decoration: none;
	color: white;
	padding: 0 40px;
	line-height: 54px;
	display: inline-block;
}



#menu li a:hover, #menu li .active  {
	background-color: #864343;
}

.dropdown-content {
	position: absolute;
	display: none;
	background-color: #7b1212;
	min-width: 100px;
}

.dropdown-content a {
	width: 100%;
	padding: 0 !important;
	text-align: center;
	display: block;
	color: white;
}

#menu li:hover .dropdown-content {
	display: block;

}
.row {
	display: flex;
}
.first {
	width: 20%;
	padding-right: 10px;
}

.second {
	width: 60%;
}
.third {
	width: 20%;
	padding-left: 10px;
}

form {
	float: right;
}

p {
	margin-bottom: 50px;
}

h1,h2 {
	font-size: 36px;
}

a {
	color: #003cff
}
header h1 {
	text-transform: uppercase;
}

header .link {
	text-decoration: none;
}

header {
	text-align: left;
	color: white;
	background-color: #864343;
}

footer {
	text-align: left;
	color: white;
	background-color: #864343;
	padding: 103px 54px;
}
nav {
	float: left;
	max-width: 310px;
	padding-left: 80px;
	padding-top: 30px;
	margin: 0;
}
article {
	margin-left: 320px;
	padding-left: 13px;
	margin-right: 54px;
}

article ol {
	margin-bottom: 50px;
	margin-top: 0;
	padding-left: 30px;
}
article p {
	margin-top: 0;
}

.Picture {
	float: right;
}

.Picturelist {
	
	max-width: 100%;
}
.galery {
	text-align: center;
}

.galery li {
	display: inline-block;
	width: calc(25% - 10px);
	border: 1px solid grey;
	margin-left:10px;
	padding: 10px;
	box-sizing: border-box;
}
.galery li:first-child {
	margin-left: 0;
}

.galery li p {
	color: black;
	margin-bottom: 0;

}

ul li a {
	text-decoration: none;
}
.Piclist {
	max-width: 100%;

}	
.galery4 {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	
}
.galery4 p {
	color: black;

}
.photo {
	width: 40%;
}





.link {
	color: white;
}

.list {
	text-align: center;
}
.car {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}
.listitem {
	display: inline-block;
	background-color: rgba(194, 161, 161, 0.5);
	list-style-type: none;
	position: relative;
	height: 210px;
	width: calc(50% - 10px);
	margin-left: 5px;
}
.listitem:first-child {
	margin-right: 5px;
	margin-left: 0;
}
.list p {
	margin: 0;
	font-size: 36px;
	color: white;
	padding-top: 0;
	position: absolute;
}



.Pic {
	max-width: 100%;
}
.galery2 {
	text-align: center;
	background-color: 
}

.galery2 li {
	display: inline-block;
	width: 49%;
	margin-left: 0;
	border: 1px solid grey;
	margin-left:10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: rgb(123, 18, 18);
	
}

.galery2 li p {
	color: white;
	margin-bottom: 0;
}
.icon {
	background-image: url(sprite.png);
	background-color: red;
	width: 16px;
	height: 16px;
}
.facebook {
	background-position: 0 0;
}
.inki {
	background-position: 16px 0;
}
.twitter {
	background-position: 32px 0;
}